.parent {
    padding-left:350px;
    width:100%; 
    margin: auto;
}

.content { 
    position:relative;
    float:left;
    width:100%; 
}

.left-img { 
    position:relative;
    float:left;
    width:200px;
    right:200px;
    margin-left:-100%; 
}