{% load static %}
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
            crossorigin="anonymous">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">
        <link href="{% static 'css/post_detail.css' %}" rel="stylesheet">
        <link href="{% static 'css/forms.css' %}" rel="stylesheet">

        <title>
            {% block title %}
                Blog App
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            
                {% if user.is_authenticated %} 
                    <a class="LOG-IN" href="{% url 'logout' %}">LOG OUT</a>
                {% else %}                     
                        <a class="LOG-IN" href="{% url 'login' %}">LOG IN</a>
                {% endif %}

                <a class="NEWS" href="{% url 'home' %}">
                    NEWS
                </a>
                <a class="VEHICLES">
                    VEHICLES
                </a>
                <a class="CREATE-NEW-POST" href="{% url 'post_new' %}">
                    CREATE NEW POST
                </a>

        </header>
    
        <div  class="header-container"> 
            <img class="mercedes-logo-1" src="{% static 'images/mercedes-logo.jpg' %}"  alt="Logo" /> 
        </div>

        {% block content %} 
        {% endblock content %}

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
            crossorigin="anonymous"></script>
    </body>
</html> 