{% extends 'base.html' %} 
{% load static %}


{% block title %} {{ post.title }} {% endblock title %} 
    
{% block content %}
        <div  class="header-container"> 
            {% if post.title == "Mercedes-Benz Reveals New 'thought-controlled' AVTR Concept Car At IAA 2021" %}
                <img class="car-img" src="{% static 'images/carCopy.png' %}"  alt="Coloring Mandalas image" />
            {% elif post.title == "Mercedes-Benz G-Class Goes Professional Grade With Line Of Tough-Looking Exterior Upgrades" %} 
                <img class="car-img" src="{% static 'images/carCopy2.png' %}"  alt="Playing Tennis image" />
            {% else %} 
                <img class="car-img" src="{% static 'images/img.png' %}"  alt="Unknow image" />
            {% endif %}
            
            <span class="header">
                <h1>       
                    <div class="title-detail">
                        <div class="text-title">{{post.title}} </div>
                    </div>
                    <span class="button-container">
                        <span class="Written-By">Written By: {{ post.author }} </span>
                        <span>
                            <img class="edit-1" src="{% static 'images/edit.png' %}"  alt="Edit image" />
                        </span>
                        <span>                          
                            <a class="Edit" href="{% url 'post_edit' post.pk %}" >Edit</a>
                        </span>
                        <span>
                            <img class="delete-1" src="{% static 'images/delete.png' %}"  alt="Delete image" />
                        </span>
                        <span>
                            <a class="Delete" href="{% url 'post_delete' post.pk %}">Delete</a>
                        </span>
                    </span>
                </h1>
            </span> 
        </div>

        <p class="detail-content">
            {{ post.body }} 
        </p>

    

{% endblock content %}