{% extends 'base.html' %} 
{% load static %}


{% block title %} {{ post.title }} {% endblock title %} 
    
{% block content %}
    
    <div class="post-entry">
        <div  class="header-container"> 
             <span class="header">
                <h1>
                    {{post.title}}
                    <span class="button-container">
                        <span>
                            <button type="button" class="btn btn-primary">
                                <a class="text-button" href="{% url 'post_edit' post.pk %}" >Edit Blog Post </a>
                            </button>
                        </span>
                
                        <span>
                            <button type="button" class="btn btn-danger">
                                <a class="text-button" href="{% url 'post_delete' post.pk %}">Delete Blog Post</a>
                            </button>
                        </span>
                    </span>
                </h1>
            </span> 
        </div>

        <p class="info">
            {{ post.body }} 
        </p>
        
        {% if post.title == "Coloring Mandalas" %}
            <img class="center" src="{% static 'images/coloringMandalas.jpg' %}"  alt="Coloring Mandalas image" />
        {% elif post.title == "Playing Tennis" %} 
            <img class="center" src="{% static 'images/playingTennis.jpg' %}"  alt="Playing Tennis image" />
        {% elif post.title == "Writing By Hand" %} 
            <img class="icon" src="{% static 'images/writingByHand.png' %}"  alt="Writing By Hand image" />
        {% else %} 
            <img class="icon" src="{% static 'images/img.png' %}"  alt="Unknow image" />
        {% endif %}
    </div>

    

{% endblock content %}