{% extends 'base.html' %} 
{% load static %}


{% block title %} {{ post.title }} {% endblock title %} 
    
{% block content %}
    <div class="post-entry">
        <div  class="header-container"> 
             <div class="header">
                <h1>
                    {{post.title}}
                </h1>
             </div>
         </div>
        <p class="info">
            {{ post.body }} 
        </p>
        {% if post.title == "Coloring Mandalas" %}
            <img class="center" src="{% static 'images/coloringMandalas.jpg' %}"  alt="Coloring Mandalas image" />
        {% elif post.title == "Playing Tennis" %} 
            <img class="center" src="{% static 'images/playingTennis.jpg' %}"  alt="Playing Tennis image" />
        {% else %} 
            <img class="center" src="{% static 'images/writingByHand.png' %}"  alt="Writing By Hand image" />
        {% endif %}
    </div>
{% endblock content %}